
.QuizApp{
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Title{
  font-weight: bold;
}
.Menu, 
.Quiz,
.EndScreen{
  width: 750px;
  height: 500px;
  border-radius: 10px;
  background-color: lightseagreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Menu Button,
.Quiz Button,
.EndScreen Button
{ 
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;

}

.Menu, 
.Quiz,
.EndScreen{
  color: white;
}
.Options{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Options :hover{
  background-color: #85CDFD;
}
.Options :focus{
  background-color: #537FE7;
}
.quest{
  font-size: 23px;
  margin-bottom: 10px;
  text-align: center;
}
.startBtn Button:hover{
  background-color: #028347;
}